<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Weather for your vacation!</title>

		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<!-- Google Fonts: Open Sans -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		<!-- QUnit CSS -->
		<link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.17.1.css">
		<!-- Custom CSS -->
		<link href="css/main.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="content-container">
			<p class="body-header">Weather for your vacation!</p>
			<div class="filter-holder">
				<div class="query-holder">
					<input type ="text" placeholder="Please enter a city" class="user-city-input" />
					<input type="button" class="fetch-weather-trigger" value="Go" />
				</div>
			</div>
			<div class="weather-holder">
				<div class="center-wrapper">
				</div>
			</div>
			<div class="information">Playing around with <a target="_blank" href="http://backbonejs.org/">Backbone</a> and <a target="_blank" href="http://openweathermap.org/">OpenWeatherMap API</a></div>	
		</div>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- Backbone JS -->
		<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
		<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<!-- QUnit JavaScript -->
		<script src="//code.jquery.com/qunit/qunit-1.17.1.js"></script>
		<!-- Custom JS -->
		<script src="js/app.js"></script>
		<script src="js/test.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.user-city-input').val('').focus(); //Clear and focus user query area
			});
		</script>
		<!-- BEGIN: Underscore Template Definition. -->
		<script type="text/template" class="weatherTemplate">
		<% if (rc.cod === '200') { %>
		    <div class="selection-holder">
				<input type="button" class="fetch-summary-trigger" value="Summary" />
				<input type="button" class="fetch-detailed-trigger" value="Detailed" />
			</div>
			<div class="city-message">
				Displaying weather for <%- rc.city.name %>, <%- rc.city.country %>
			</div>
			<% _.each(rc.list, function(weatherItem){ %>
				<% var currentDate = (new Date(weatherItem.dt * 1000)) %>
				<div class="day-weather">
	                <div class="date"><%- parseInt(currentDate.getMonth()) + 1  + '/' + currentDate.getDate() + '/' + currentDate.getFullYear() %></div>
	                <div class="detailed humidity"><%- weatherItem.weather[0].main %></div>
					<div class="icon"><img src="http://openweathermap.org/img/w/<%- weatherItem.weather[0].icon %>.png"></div>
					<div class="figures">
						<div class="high"><img src="img/high.png" alt="Temperature High"><%- weatherItem.temp.max %>&deg F</div>
						<div class="low"><img src="img/low.png" alt="Temperature Low"><%- weatherItem.temp.min %>&deg F</div>
						<div class="detailed humidity"><img src="img/humidity.png" alt="Humidity"><%- weatherItem.humidity %>%</div>
						<div class="detailed pressure"><img src="img/pressure.png" alt="Pressure"><%- weatherItem.pressure %> hPa</div>
						<div class="detailed windspeed"><img src="img/wind.png" alt="Wind Speed"><%- weatherItem.speed %> mps</div>
					</div>
				</div>
			<% }); %>
		<% } else {%>
			 <div class="error-message">
				An error occured in fetching weather details. Please check the name of the city and try again.
			</div>
		<% } %>
		</script>
		<div class="test-results">
			<div id="qunit"></div>
 			<div id="qunit-fixture"></div>
		</div>
	</body>
</html>